
 ul{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }



::selection { background: #0088b2; color: #fff; }
::-moz-selection { background: #0088b2; color: #fff; }
a { color: #0088b2; text-decoration: none; outline: 0; }
a:hover { color: #444; }
img { max-width: 100%; height: auto; }
a {
-webkit-transition-property: background color; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease;
-moz-transition-property: background color; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease;
-o-transition-property: background color; -o-transition-duration: 0.2s; -o-transition-timing-function: ease;
transition-property: background color; transition-duration: 0.2s; transition-timing-function: ease; }
a img {
-webkit-transition-property: opacity; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease;
-moz-transition-property: opacity; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease;
-o-transition-property: opacity; -o-transition-duration: 0.2s; -o-transition-timing-function: ease;
transition-property: opacity; transition-duration: 0.2s; transition-timing-function: ease; }
address,cite,em { font-style: italic; }
strong { font-weight: 600; }
li { list-style: none; }
.left,.alignleft { float: left; }
.right,.alignright { float: right; }
.aligncenter { margin-left: auto; margin-right: auto; }


/* ------------------------------------ */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.fix:before, .fix:after { content: ""; display: table; }
.fix:after { clear: both; }
.fix { zoom: 1; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { zoom: 1; }




/* sidebar */
.sidebar { width: 340px; padding-bottom: 20px; overflow: hidden; font-size: 14px; line-height: 1.57em; color: #444; font-weight: normal;font-family: 'Open Sans', Arial, sans-serif; }
.sidebar .pad { padding-left: 20px; padding-right: 20px; }
.sidebar-toggle { display: none; background: #fff; border: 1px solid #ddd; border-bottom-color: #bbb; text-align: center; cursor: pointer; width: 48px; height: 48px; margin: 15px 15px 0 15px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.06);
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.06);
box-shadow: 0 1px 0 rgba(0,0,0,0.06); }
.sidebar-toggle i { font-size: 38px; padding: 5px 0; }


#logo,
.nav,
.newsflash .first h3,
.newsflash .first p,
.page-image-text .caption,
.heading,
.entry-comments,
.entry-meta,
.entry-browse li a strong,
.entry-related .rel-entry-date,
.widget-title,
.widget_calendar caption,
.widget_calendar thead,
#footer #copyright,
.commentlist .comment-meta,
.commentlist .reply a,
#reply-title { font-family: "Fjalla One", sans-serif; }



/*  widget
/* ------------------------------------ */
.widget2 { color: #777; font-size: 13px; }
.widget2 a { color: #777; font-weight: bold; }
.widget2 a:hover { color: #0088b2; }
.widget-title { font-weight: normal; font-size: 14px; text-transform: uppercase; margin-bottom: 6px; }
.widget-title span { display: block; float: left; line-height: 16px; padding: 0 8px; }
.widget-title span span { background: none; padding: 0; margin: 0; }
.widget-title a,
.widget-title a:hover { color: #444; font-weight: normal; }
.widget-title a img { display: none; float: left; margin: 3px 7px 0 0; }

.sidebar .widget2 { padding: 20px; }
.sidebar .widget-title { margin-left: -20px; margin-right: -19px; padding: 0 20px; }
.sidebar .widget-title span { background-color: #eee; color: #444; padding: 0; display: block; float: left; }

/*  widget : common
/* ------------------------------------ */
.widget_archive ul li,
.widget_categories ul li,
.widget_links ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.widget_pages ul li a,
.widget_nav_menu ul li a,
.widget_wpb_tabs .wpb-tab li { padding: 10px 0; border-bottom: 1px solid #e2e2e2;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
box-shadow: 0 1px 0 rgba(255,255,255,0.5); }

.widget_search .widget-title,
.widget_text .widget-title,
.widget_tag_cloud .widget-title,
.widget_calendar .widget-title { margin-bottom: 20px; }




/*  widget : wpb tabs
/* ------------------------------------ */
.widget_wpb_tabs .wpb-tabs { padding-top: 10px; }
.widget_wpb_tabs .wpb-tabs li { background: none; padding: 0; float: left; display: block; }
.widget_wpb_tabs .wpb-tabs.tabs-2 li { width: 50%; }
.widget_wpb_tabs .wpb-tabs.tabs-3 li { width: 33.3%; }
.widget_wpb_tabs .wpb-tabs.tabs-4 li { width: 25%; }
.widget_wpb_tabs .wpb-tabs li a { color: #aaa; display: block; background: #e2e2e2; border-left: 1px solid #eee; position: relative; text-align: center;
-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.04), 0 1px 0 rgba(255,255,255,0.5);
-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.04), 0 1px 0 rgba(255,255,255,0.5);
box-shadow: inset 0 1px 0 rgba(0,0,0,0.04), 0 1px 0 rgba(255,255,255,0.5); }
.widget_wpb_tabs .wpb-tabs li a:hover { color: #0088b2; }
.widget_wpb_tabs .wpb-tabs li:first-child a { border-left: 0; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px;  border-radius: 2px 0 0 2px; }
.widget_wpb_tabs .wpb-tabs li:last-child a { -moz-border-radius: 0 2px 2px 0; -webkit-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.widget_wpb_tabs .wpb-tabs li a.active { background: #0088b2; color: #fff; }
.widget_wpb_tabs .wpb-tabs li i { font-size: 20px; margin: 5px auto; text-shadow: 0 1px 0 rgba(255,255,255,0.7); }
.widget_wpb_tabs .wpb-tabs li a.active i { text-shadow: 0 1px 0 rgba(0,0,0,0.15); }
.widget_wpb_tabs .wpb-tabs li a.active:hover { color: #fff; }
.widget_wpb_tabs .wpb-tabs li span { display: none; }

.widget_wpb_tabs ul { padding: 0; width: 100%; }
.widget_wpb_tabs ul.wpb-tab { display: none; }
.widget_wpb_tabs li { padding: 15px 0; width: 100%; }
.widget_wpb_tabs .wpb-tab a { display: block; }
.widget_wpb_tabs .list-tags a { display: inline; }
.widget_wpb_tabs a:active .icon-thumb { opacity: 0.8; }
.widget_wpb_tabs a img { display: block; width: 96px; height: auto;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
box-shadow: 0 1px 2px rgba(0,0,0,0.2); }
.widget_wpb_tabs a span { display: block; }
.widget_wpb_tabs .wpb-thumb { position: relative; float: left; }
.widget_wpb_tabs .wpb-thumb-enabled a { padding-left: 110px; }
.widget_wpb_tabs .wpb-thumb { width: 96px; margin-left: -110px; }
.widget_wpb_tabs .list-comments .wpb-thumb-enabled a { padding-left: 78px; }
.widget_wpb_tabs .list-comments .wpb-thumb { width: 64px; margin-left: -78px; }
.widget_wpb_tabs .format-video a .icon-thumb { height: 20px; width: 24px; top: 3px; left: 3px; }
.widget_wpb_tabs .format-audio a .icon-thumb { height: 20px; width: 24px; top: 3px; left: 3px; }
.widget_wpb_tabs .wpb-text i { font-style: normal; display: block; float: left; width: 100%;
-webkit-transition-property: background color; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease;
-moz-transition-property: background color; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease;
-o-transition-property: background color; -o-transition-duration: 0.2s; -o-transition-timing-function: ease;
transition-property: background color; transition-duration: 0.2s; transition-timing-function: ease; }
.widget_wpb_tabs a .wpb-text i.title { }
.widget_wpb_tabs .wpb-text i.meta { color: #999; font-style: normal; font-weight: 300; }

.widget_wpb_tabs .wpb-tabs li a.active
 { background-color: #0a0a0a; }

 /*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton {
    display:inline-block;
    float:right;
    background:#d2e0ea url(../img/buttonbg.png) repeat-x;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;

}

/* Login Button Text */
#loginButton span {
    color:#445058;
    font-size:14px;
    font-weight:bold;
    text-shadow:1px 1px #fff;
    padding:0px 0px 0px 0px;
    background:url(../img/loginArrow.png) no-repeat 53px 7px;
    display:block;
}



/* Login Box */
#loginBox {
    position:absolute;
    top:50px;
    right:0;
    display:none;
    z-index:29;
}



/* Login Form */
#loginForm {
    width:248px;
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}
#body li {

    margin-right: 8px;
}
#body li a:hover {
    background-color: #fff;
}
#body li a {
    background-color: #fff;
  margin: 0;
     padding: 0;
     border: 0;
}
#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}


/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../img/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

.fb-comments,
.fb-comments span,
.fb-comments iframe[style],
.fb-comments iframe span[style] {
	width: 100% !important;
}
.target{
    display:none;
    padding-left: 100px;
    margin-bottom:20px;
    background-color: #e7ebf2;
    overflow: auto;
}


.drop-shadow {   margin:2em 24% 4em; width:100%; }

.progress {
        height: 40px; 
        position: relative;
        margin: 20px 0 20px 0;
        background: #555;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        padding: 2px;
        -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
        box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress > span {
        display: block;
        height: 100%;
           -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
               -moz-border-radius-topright: 20px;
            -moz-border-radius-bottomright: 20px;
                   border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            -webkit-border-top-left-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
                -moz-border-radius-topleft: 20px;
             -moz-border-radius-bottomleft: 20px;
                    border-top-left-radius: 20px;
                 border-bottom-left-radius: 20px;
        background-color: rgb(43,194,83);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(43,194,83)),
          color-stop(1, rgb(84,240,84))
         );
        background-image: -moz-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
         );
        -webkit-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.8),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.8),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.8),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
}

.progress > span:after {
        content: "";
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-image:
           -webkit-gradient(linear, 0 0, 100% 100%,
              color-stop(.25, rgba(255, 255, 255, .2)),
              color-stop(.25, transparent), color-stop(.5, transparent),
              color-stop(.5, rgba(255, 255, 255, .2)),
              color-stop(.75, rgba(255, 255, 255, .2)),
              color-stop(.75, transparent), to(transparent)
           );
        background-image:
                -moz-linear-gradient(
                  -45deg,
              rgba(255, 255, 255, .2) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, .2) 50%,
              rgba(255, 255, 255, .2) 75%,
              transparent 75%,
              transparent
           );
        z-index: 1;
        -webkit-background-size: 50px 50px;
        -moz-background-size: 50px 50px;
        -webkit-animation: move 2s linear infinite;
           -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
               -moz-border-radius-topright: 20px;
            -moz-border-radius-bottomright: 20px;
                   border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            -webkit-border-top-left-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
                -moz-border-radius-topleft: 20px;
             -moz-border-radius-bottomleft: 20px;
                    border-top-left-radius: 20px;
                 border-bottom-left-radius: 20px;
        overflow: hidden;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.rojo > span {
        background-color: #f0a3a3;
        background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
        background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}
